PORT=8000
JWT_SECRET_KEY=ok
JWT_EXPIRED_IN=1d
REDIS_PORT=6379
REDIS_HOST=redis
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE=lms
DATABASE_PASSWORD=
DATABASE_USER=
VIMEO_CLIENT_ID=your_client_id
VIMEO_CLIENT_SECRET=your_client_secret
VIMEO_ACCESS_TOKEN=your_access_token
